
<mat-list role="list">
  <div class="profile">
    <div>
      <h2>Vishnu AS</h2>
      <h4>vishnuasuresh2000@gmail.com</h4>
    </div>
    <img src="https://media.istockphoto.com/id/926196952/photo/beautiful-nature-background.jpg?s=170667a&w=0&k=20&c=3CI8wa6kKzgUv09X_rQhermyjeGhaAlp9HiAe9v65rE=" alt="">
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader>Pages</h2>
    <a mat-list-item role="listitem" routerLink="/">Dashboard</a>
    <a mat-list-item role="listitem" routerLink="/posts">Posts</a>
    <a mat-list-item role="listitem" routerLink="/">Articles</a>

  <mat-divider></mat-divider>
  <h2 matSubheader>Tools</h2>
    <a mat-list-item role="listitem" routerLink="/">
      <mat-icon>import_contacts</mat-icon> &nbsp; Contacts
    </a>
    <a mat-list-item role="listitem" routerLink="/posts">
      <mat-icon>contact_phone</mat-icon> &nbsp; Contact Number
    </a>
   
  </mat-list>
  
  
